* {
    margin: 0;
    padding: 0;
    }
body {
    font-family: "Lato", sans-serif;
    
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    outline: none;
}
.nav {
    background-color: #222222;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.main {
    background-color: #F1E4E6;
}
.nav-content {
    margin-top: 18px;
    margin-bottom: 19px;
}
.main-svg {
    margin-right: 41px;
}
.menu-svg {
    margin-right: 33px;
}
.main-content {
     display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
.main-text {
   /* margin-top: 290px;*/
}
.main-text {
    display: flex;
}
.text-main-page {
    font-size: 29px;
}
.main-content-text div:nth-child(1){
    font-weight: 900;
    font-size: 48px;
    line-height: 57px;
    
}
.main-content-text div:nth-child(2) {
    float: left;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}
.main-content-text div:nth-child(3) {
    float: left;
    color: #f16d7f;
    font-size: 32px;
    font-weight: 700;    
    padding-left: 8px;
    line-height: 38px;
}
.main-man {
    margin-right: 64px;
}
.manimg {
    width: 100%;
}
.pinkline {
   box-sizing: border-box;
   width: 12px;
   height: 92px;
   background-color: #F16D7F;
    margin-right: 16px;
    border: 1px solid transparent;
}
/*.pinkline:hover {
    background-color: #FFFFFF;
}*/
.catalog {
    margin-top: 65px;
    margin-bottom: 95px;
}
.catalog-main-items {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    gap: 30px;
    /* margin-bottom: 30px;*/
}
.catalog-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
        margin-bottom: 30px;
    
}
.forwoman-img {
    width: 100%;
}
.forwoman {
     /* margin-right: 30px;*/
    
}
.forman {
   /* margin-right: 30px; */
    
}
.catalog-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    align-items: center;
    }
.text-up {
    top: 40%;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}
.text-down {
    top: 50%;
    font-size: 24px;
    line-height: 29px;
    color:#F16D7F;
    text-decoration: none;
}
.text-up-last {
    top: 35%;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.text-down-last {
    top: 50%;
    font-size: 24px;
    line-height: 29px;
    color:#F16D7F;
    text-decoration: none;
}
.product-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prodact-text-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.prodact-text-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}










.information {
    background-color: #222224;
}
.information-items {
    display: flex;
    justify-content: space-between;
}
.information-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FBFBFB;
    padding-top: 103px;
    padding-bottom: 104px;
}
.information-logo {
    margin-bottom: 28px;
}
.information-title {
    font-weight: 400;
font-size: 20px;
line-height: 24px;
margin-bottom: 16px;
}
.information-text {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
}
.subscribe {
    background-image: url(../images/Layer\ 41.jpg);
}
.subscribe-items {
    display: flex;
   
}